@import url('https://fonts.googleapis.com/css?family=Spectral');
/* You must use a DIFFERENT FONT THAT THIS ONE as your webfont */

/*************************************************
            DEFAULTS
*************************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 16px;
    font-family: Spectral, Garamond, "Times New Roman", serif;
    /* change this font stack to your own choices */
    line-height: 1.5;
}

p {}

a {

    text-decoration: none;
}
}

ul {}

ol {}

li {}

img {
    width: 25%;
}

/*************************************************
            HEADER
*************************************************/
header {
    padding: 1rem 2rem;
    color: black;
    background-image: url(../img/banner.jpg);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;

}

header > h1 {
    color: hsl(323, 94%, 39%);
}

header > h2 {
    color: rgb(227, 227, 227);
}

/*************************************************
            NAVMENU
*************************************************/
nav {
    padding: 1rem 2rem;


}

nav > a,
nav > a:visited,
nav > a:link {
    font-size: 1.5em;
    font-variant: small-caps;
    color: rgb(227, 227, 227);

}

nav > a:active,
nav > a:focus,
nav > a:hover {
    font-size: 1.75rem;
}

.mainnav {
    background-color: hsl(323, 94%, 39%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-between;

}

/*************************************************
            MAIN CONTENT
*************************************************/
main {
    padding: 1rem 2rem;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

section p {}

section p img {}

section > h1 {
    color: hsl(323, 94%, 39%);
}

section > h2 {
    color: hsl(323, 94%, 39%);
}

/*************************************************
            FOOTER
*************************************************/
footer {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.foot nav {}

.foot section {

    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 2;
}

.foot dl {
    grid-row-start: 2;
    grid-row-end: span 1;
    grid-row-start: 1;
    grid-column-end: span 1;
}

.foot dt {
    background-color: hsl(323, 94%, 39%);
    font-size: 1.5em;
    padding: .25em;
    color: rgb(227, 227, 227);

}

.foot dd {

    font-variant: small-caps;


}

.foot dd a,
.foot dd a:visited {
    color: hsl(323, 94%, 39%);
    font-size: 1.25em;
}





.foot dd a:active,
.foot dd a:focus,
.foot dd a:hover {
    font-size: 1.5em;
}




}

.comments {}

input {
    margin: .5rem;
    padding: .5rem;
    border-style: solid;
    border-color: hsl(323, 94%, 39%);
    border-radius: 1em;

}



select {
    margin: .5rem;
    padding: .5rem;
    border-style: solid;
    border-color: hsl(323, 94%, 39%);
    border-radius: 1em;
}

textarea {
    margin: .5rem;
    padding: .5rem;
    border-style: solid;
    border-color: hsl(323, 94%, 39%);
    border-radius: 1em;
    width: 541px;
    height: 129px;

}

button {
    margin: .5rem;
    padding: .5rem;
    border-style: solid;
    border-color: hsl(323, 94%, 39%);
    border-radius: 1em;
    background-color: hsl(323, 94%, 39%);
    color: rgb(227, 227, 227);


}

button:hover {
    color: hsl(323, 94%, 39%);
    background-color: rgb(227, 227, 227);

}

/*************************************************
            MEDIA QUERIES for layout
*************************************************/
@media (max-width: 599px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto;
    }

    textarea {
        width: 90%;

    }
}

@media (min-width: 600px) and (max-width:999px) {}

@media (min-width: 1000px) {}
